.bg-red{background-color: red;}
.bg-blue{background-color: blue;}
.border{border: solid black;}

.oatmeal{
    color: #eeeeee;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 200px;
    background-color: #393e46;
    border-radius: 10px;
}
.site-title-box{
    margin: 0 auto;
    height: 50%;
    display: table;
}
.site-title-box>a{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    text-decoration: none;
    color: #eeeeee;
}
.header-info-box{
    width: 100%;
    height: 50%;
    display: table;
}
.header-info-box>div{
    display: table-cell;
    vertical-align: middle;
}
.search-info{
    width: 50%;
}
.user-info, .user-storage-info{
    width: 25%;
    text-align: center;
}

.search-form>input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid #393e46;
    float: left;
    width: 85%;
    border-radius: 3px;
}

.search-form>button{
    float: left;
    width: 15%;
    padding: 10px;
    background: #eeeeee;
    color: #393e46;
    font-size: 17px;
    border: 1px solid #393e46;
    border-left: none;
    cursor: pointer;
    border-radius: 3px;
}
* {
    box-sizing: border-box;
  }

.btn{
    border-radius: 10%;
    border: 1px solid #393e46;
    cursor: pointer;
}

a.strong{
    color: #00adb5;
    text-decoration-line: none;
}

.content{
    width: 880px;
    margin: 0 auto;
}
.content>div{
    float: left;
}
.video-box-1{
    text-align: center;
    width: 800px;
    margin: 80px 40px;
}
.video-box-2{
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 20px;
}
video{
    border: 2px solid black;
}

.word{
    width: 25%;
    float: left;
}
.word-time{
    cursor: pointer;
    color: rgb(6, 95, 212);
}
.upload-methods{
    width: 100%;
    height: 500px;
    display: table;
}
.upload-methods>div{
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.upload-methods>div:hover{
    background-color: #00adb5;
}
.uploading-list{
    margin: 20px 0px;
    width: 100%;
}
.uploading-list thead{
    font-size: larger;
    font-weight: bolder;
    color: #00adb5;
}
.uploading-list td{
    width: 33%;
    text-align: center;
    height: 50px;
}
.login_form>table, .signup_form>table{
    margin: 100px auto;
    text-align: right;
}
.login_form td, .signup_form td{
    padding: 15px;
}