<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Search-in-video</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/action.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <!--header-->
    <div class="header">
        <div class="site-title-box">
            <a href="/">Search in Video</a>
        </div>
        <div class="header-info-box">
            <div class="user-storage-info">
                {% if request.user.is_authenticated %}
                <span class="oatmeal">등록된 동영상 : </span>
                <a class="strong" href="/">{{request.user.videos.all|length}}개</a>
                {% endif %}
            </div>
            <div class="search-info">
                <form class="search-form">
                    <input>
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="user-info">
                {% if request.user.is_authenticated %}
                <span class="oatmeal">"{{request.user}}"님 환영합니다</span>
                <button class="btn" onclick="location.href='{% url 'login' %}'">로그아웃</button>
                {% else %}
                <button class="btn" onclick="location.href='{% url 'login' %}'">로그인</button>
                <button class="btn" onclick="location.href='{% url 'signup' %}'">회원가입</button>
                {% endif %}
            </div>
        </div>
    </div>
    <!--content annotation-->

    <!--content-->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!--footer-->
</div>
</body>
</html>