{% extends 'base.html' %}
{% load util_tags %}

{% block content %}
<h2>"{{request.GET.find_text}}" 검색 결과 : {{videos|length}}개</h2>

{% for video in videos %}
<div class="video-box-1">
    <video src="{{video.video.url}}" width="796px" controls></video>
    <h4>{{video.title}}</h4>
    {% call_method video 'filter_words' request.GET.find_text as words %}
    <div class="words">
    {% for word in words %}
        <div class="word">
            <span class="word-time">{{word.start_at | date:'H:i:s'}}</span>
            <div>
                {% for near_word in word.near_words %}
                {{near_word}}-{{near_word.start_at | date:'H:i:s'}},
                {% endfor %}
            </div>
            <span class="sec-time" hidden>{{word.start_at | seconds }}</span>
        </div>
    {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}